<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Звёзды Кассиопеи - Помощь</title>
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/manual.css">
    <link rel="icon" href="/static/favicon.png">
</head>
<body>

<header>
    {{ header|safe }}
</header>

<div class="big-card">
    <h1>Инструкция</h1>
    <p>
        Уважаемые участники! Мы рады представить вам эту <i>прекрасную</i> тестирующую систему для нашего
        <i>прекрасного</i> конкурса "Звезды Кассиопеи".
    </p>
    <h2>Решение задач</h2>
    <p>
        Все задания доступны на главной странице: той самой, куда вы попадаете после авторизации.
        Карточка задания является ссылкой на страницу задания.
        На этой странице вы увидите условие задачи, форму ввода ответа и, иногда, приложения к заданию.
    </p>
    <p>
        Для получения баллов за некоторые задачи, нужно правильно решить их несколько раз подряд.
        То есть, не давать неправильных ответов и не генерировать новое условие не введя ответа для предыдущего.
        Для таких задач в панели статуса задания отображается текущее число правильных посылок подряд.
        Также, для решения таких задач мы рекомендуем использовать ботов.
    </p>
    <p>
        Баллы за задачи выдаются не самым обычным образом: каждая задача оценивается в 1000 баллов, которые
        распределяются поровну между командами, решившими задачу. При этом команды получают целое число баллов,
        а остаток от деления отбрасывается.
    </p>
    <h2>Рейтинг</h2>
    <p>
        В любой момент вы можете посмотреть текущую рейтинговую таблицу, в которой указан балл каждой команды за каждую задачу.
        Таблица расположена в разделе "Рейтинг", куда можно попасть со страницы авторизации, и вообще отовсюду изнутри системы.
        Ссылками туда являются и панели "Очки", "Задания" в верхней панели.
        Картинка, выполняющая роль идентификатора задачи, является ссылкой, и ведет, внезапно, на страницу задачи.
    </p>
    <h2>Сообщения жюри</h2>
    <p>
        В этом разделе вы можете ознакомится с сообщениями жюри вам или всем командам, а так же отправить своё сообщение жюри.
        Мы планируем отвечать на все сообщения, но всё же не гарантируем.
    </p>
    <h1 id="personal-data">Обработка персональных данных</h1>
    <p>
        Мы не можем не собирать ваши данные, так как нужно будет как-то связать ваши учетные записи в
        тестирующей системе с реальными людьми для награждения.<br>
        К сожалению, ваши персональные данные хранятся в абсолютно открытом виде в базе данных на бесплатном хостинге,
        расположенном, вроде, в Германии.
    </p>
</div>
</body>
</html>