<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Звёзды Кассиопеи - Помощь</title>
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/manual.css">
    <link rel="icon" href="/static/favicon.png">
</head>
<body>

<header>
    {{ header|safe }}
</header>

<div class="big-card">
    <h1>Инструкция</h1>
    <p>
        Уважаемые участники! Мы рады представить вам эту <i>прекрасную</i> тестирующую систему для нашего
        <i>прекрасного</i> конкурса "Звезды Кассиопеи".
    </p>
    <h2>Регистрация в команду</h2>
    <p>
        Для того, чтобы в вашу команду не регистрировались посторонние, при регистрации нужно указать инвайт-код команды.
        Собственно, чтобы зарегистрировались не посторонние, регистратор команды должен им этот код передать.
        Кроме инвайт-кода нужно передать ID команды, в которую регистрироваться.
        {% if team_id and team_invite %}
        <pre>
            ID вашей команды: {{ team_id }}
            Инвайт-код вашей команды: {{ team_invite }}
        </pre>
        {% endif %}
    </p>
    <h2>Решение задач</h2>
    <p>
        Все задания доступны на главной странице: той самой, куда вы попадаете после авторизации.
        Карточка задания является ссылкой на страницу задания.
        На этой странице вы увидите условие задачи, форму ввода ответа и, иногда, приложения к заданию.
    </p>
    <p>
        Для получения баллов за некоторые задачи, нужно правильно решить их несколько раз подряд.
        То есть, не давать неправильных ответов и не генерировать новое условие не введя ответа для предыдущего.
        Для таких задач в панели статуса задания отображается текущее число правильных посылок подряд.
        Также, для решения таких задач <b>мы рекомендуем использовать
        ботов на языке <i>Python</i> (библиотеки можно любые, но мы проверяли <i>requests</i>)</b>.
    </p>
    <p>
        Баллы за задачи выдаются не самым обычным образом: каждая задача оценивается в 1000 баллов, которые
        распределяются поровну между командами, решившими задачу. При этом команды получают целое число баллов,
        а остаток от деления отбрасывается.
    </p>
    <p>
        Счетчик успешных попыток сбрасывается если:
        <ul>
            <li>Вы отправили неверный ответ</li>
            <li>Вы сгенерировали новое задание, не отправив ответ на предыдущее</li>
            <li>Вы дважды отправили ответ на одно и то же задание, не сгенировав новое</li>
        </ul>
    </p>
    <h2>Рейтинг</h2>
    <p>
        В любой момент вы можете посмотреть текущую рейтинговую таблицу, в которой указан балл каждой команды за каждую задачу.
        Таблица расположена в разделе "Рейтинг", куда можно попасть со страницы авторизации, и вообще отовсюду изнутри системы.
        Ссылками туда являются и панели "Очки", "Задания" в верхней панели.
        Картинка, выполняющая роль идентификатора задачи, является ссылкой, и ведет, внезапно, на страницу задачи.
    </p>
    <h2>Сообщения жюри</h2>
    <p>
        В этом разделе вы можете ознакомится с сообщениями жюри вам или всем командам, а так же отправить своё сообщение жюри.
        Мы планируем отвечать на все сообщения, но всё же не гарантируем.
    </p>
    <h2>Техническая информация для написания ботов</h2>
    <p>
        Мы рекомендуем использовать ботов для решения некоторых задач. Каких - думайте сами, конечный выбор всегда за вами.
    </p>
    <p>
        Для задач, в которых приложения генерируются, вам необходимо отправить GET-запрос на страницу задания для генерации задания.
        Если приложение уже там, то можно его забрать, иначе нужно отправить ещё один GET для скачивания файла.
        Имя файла постоянно, можно не парсить страницу задачи ради него.
    </p>
    <p>
        Для получения алгоритмя отправки ответа рекомендуем проанализировать, как его отправляет ваш браузер.
        Мы проверили, предоставленной там информации достаточно.
    </p>
    <p>
        Не забывайте про куки.
    </p>
    <h1 id="personal-data">Обработка персональных данных</h1>
    <p>
        Мы не можем не собирать ваши данные, так как нужно будет как-то связать ваши учетные записи в
        тестирующей системе с реальными людьми для награждения.<br>
        К сожалению, ваши персональные данные хранятся в абсолютно открытом виде в базе данных на бесплатном хостинге,
        расположенном, вроде, в Германии. То есть к ним вполне могут иметь доступ третьи лица.
    </p>
    <p>
        Мы обещаем не использовать ваши персональные данные в целях, кроме как для проведения конкурса, в том числе награждения.
        Однако, для решения задачи, которую невозможно решить, вам нужно всего лишь отправить название конкурса.
        Хотя мы и не можем гарантировать сохранность ваших персональных данных. Сорян.
    </p>
    <h2>О кондитерских изделиях</h2>
    <p>
        Для работы сайта необходимы файлы cookie с вашим логином и токеном сессии, чтобы сохранять данные о вашей авторизации.
        И желательны файлы cookie с id последнего прочитанного сообщения - для отображения счётчика непрочитанных,
        и с текущей выбранной темой - чтобы ваш выбор сохранялся.
    </p>
</div>
</body>
</html>